data/*
data.yaml
*.DS_Store
.DS_Store
.ipynb_checkpoints*
.vscode*
webapp/apikey.txt
webapp/data/*
webapp/__pycache__/*
webapp/model_params/*
webapp/temp/*
webapp/uploads/*
webapp/flask_session/*
towerscout.pem
workspace.code-workspace
test/*
train/*
yolov5/*
hosting/connect-tc.sh
.DS_Store
