[Unit]
Description=TowerScout web application
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/TowerScout/webapp
ExecStart=/usr/bin/python3.8 towerscout.py
Restart=always

[Install]
WantedBy=multi-user.target

