<!DOCTYPE html>
<html>

<head>
    <title>TowerScout v0.4 needs a better browser</title>
    <link rel="stylesheet" href="/css/ts_styles.css">
</head>

<body>

    <div id="fatal_div"
        style="z-index:2000;position:absolute; justify-content:center; align-items: center;top:0px; left:0px;width:100%;height:100%; color:white">
        <div style="width:100%;height:12%">
            <center>
                Please use Chrome or Firefox to access TowerScout. Thank you!
            </center>
        </div>
    </div>


</body>

</html>